
/* --------------------------navbar started-------------------------- */

.logo-img{
    width: 162px;
}
.nav-items{
    font-size: 1.6rem;
}
.franchise-btn{
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 30px;
    padding: 19px 17px;
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 10px;
}
.order-btn {
    background-color: var(--red);
    border: none;
    border-radius: 30px;
    padding: 19px 17px;
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: -20px;
}
.order-btn-arrow{
    background-color: var(--white);
    color: var(--red);
    padding: 6px 8px;
    border-radius: 20px;
    margin-left: 6px;
}
.nav-icon{
    display: none;
    font-size: 2.4rem;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.678);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.11);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.5rem;
}
.sidebar .franchise-btn {
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 12px 15px;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: -5px;
}
.sidebar li{
    padding: 12px 20px;
}
.sidebar a{
    color: var(--black) !important;
}
.sidebar li:hover{
    background-color: #f0f0f0;
    width: 100%;
    cursor: pointer;
}
.close {
    font-size: 2.4rem;
}
.order-btn2{
    display: none;
}

/* --------------------------navbar ended --------------------------*/

/* --------------------------Banner slider started-------------------------- */

.mySlides{
    width: 100%;
}

/* --------------------------Banner slider ended-------------------------- */


/* --------------------------sec-2 brands started-------------------------- */

.sec-2{
    padding: 70px 0 160px;
}
.sec-2-h-p h2 span{
     font-family: var(--f-bold);
     font-style: normal;
     font-weight: 400;
     font-size: 52px;
     line-height: 62px;
}
.sec-2-h-p h2 {
    margin-bottom:8px;
    font-size: 40px;
    font-weight: normal;
    line-height: 50px;
}
.sec-2-h-p p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
}
.brands img{
    background-color: var(--white);
    padding: 20px;
    border-radius: 3px;
}
.brand-btn{
    display: block;
    width: 174px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    background-color: transparent;
    margin: auto;
    margin-top: 24px;
}

/* --------------------------sec-2  brands ended-------------------------- */























/* --------------------------media queries started-------------------------- */


@media(max-width:323px){
    header{
        display: none;
    }
}
/* --------------------------this media query for only header started-------------------------- */

@media screen and (min-device-width: 324px) and (max-device-width: 992px) { 
    .nav-icon{
        display: block;
        margin: -12px 0 0 13px;
    }  
    .nav-items{
        display: none !important;
    }
    .navbar{
        justify-content: space-between !important;
    }
    .order-btn2{
        display: block;
    }
    .order-btn {
        background-color: var(--red);
        border: none;
        border-radius: 30px;
        padding: 11px 10px;
        font-size: 1.1rem;
        font-weight: 400;
        margin-left: 0px;
        margin-right: 12px;
        margin-top: -7px;
    }
    .order-btn-arrow{
        color: var(--white) !important;
        background-color: transparent !important; 
        padding:0 0 ;
        border-radius: 0px ;
        margin-left: 5px ;
    }
    .logo-img {
        width: 85px;
    }
}
/* --------------------------this media query for only header ended-------------------------- */


/* --------------------------others all media queries started-------------------------- */

@media screen and (min-device-width: 0px) and (max-device-width: 600px) { 

    .sec-2-h-p h2 span{
         font-size: 32px;
         line-height: 40px;
    }
    .sec-2-h-p h2 {
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 15px;
    }
    .sec-2-h-p p {
        font-size: 14px;
        margin: 0 21% 40px;
    }
    .brands img {
        width: 80%;
        margin-left: 10%;
    }
    .brand-btn{
        width: 124px;
        height: 50px;
        font-size: 14px;
    }
}


@media screen and (min-device-width: 600px) and (max-device-width: 768px) { 
    .sec-2-h-p h2 span{
        font-size: 42px;
        line-height: 40px;
   }
   .sec-2-h-p h2 {
       font-size: 34px;
       line-height: 40px;
       margin-bottom: 15px;
   }
   .sec-2-h-p p {
       font-size: 14px;
       margin: 0 21% 40px;
   }
   .brands img {
       width: 100%;
   }
   .brand-btn{
       width: 124px;
       height: 50px;
       font-size: 14px;
   }
}


@media screen and (min-device-width: 768px) and (max-device-width: 992px) { 
    .sec-2-h-p h2 span{
        font-size: 52px;
        line-height: 40px;
   }
   .sec-2-h-p h2 {
       font-size: 44px;
       line-height: 55px;
       margin-bottom: 15px;
   }
   .sec-2-h-p p {
       font-size: 14px;
       margin: 0 21% 40px;
   }
   .brands img {
       width: 100%;
   }
   .brand-btn{
       width: 124px;
       height: 50px;
       font-size: 14px;
   }
}


/* --------------------------others all media queries ended-------------------------- */

/* --------------------------media queries ended-------------------------- */
